.contacts__block {
    position: relative;
    padding-left: 60px;
}

.contacts {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    color: #fff;
    padding-bottom: 156px;
    background: linear-gradient(180deg, #1b1a1b 0%, #370a37 100%);
}

.contacts__header {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom: 60px;
}

.contacts__area {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contacts a {
    color: #fff;
    text-decoration: none;
    font-style: normal;
}

.contacts__adress {
    padding-bottom: 40px;
}

.contacts__adress:before {
    background-image: url(../graphics/location.svg);
    content: "";
    display: block;
    width: 35px;
    height: 32px;
    position: absolute;
    left: 0;
    top: 130px;
}

.contacts__tel:before {
    background-image: url(../graphics/phone-call.svg);
    content: "";
    display: block;
    width: 35px;
    height: 32px;
    position: absolute;
    left: 0;
}

.contacts__mail:before {
    background-image: url(../graphics/mailto.svg);
    content: "";
    display: block;
    width: 35px;
    height: 32px;
    position: absolute;
    left: 0;
}

.contacts__list li {
    padding: 0;
    list-style-type: none;
}

.contacts__list {
    position: relative;
    padding-top: 40px;
}
.contacts__vk {
    background-image: url(../graphics/vk.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    left: -66px;
    
}
.contacts__vk:hover {
    filter: invert(3%) sepia(7%) saturate(1468%) hue-rotate(232deg) brightness(104%) contrast(86%);
}

.contacts__vk:focus {
    filter: invert(4%) sepia(24%) saturate(330%) hue-rotate(253deg) brightness(97%) contrast(91%);
}

.contacts__vk:active {
    filter: invert(81%) sepia(91%) saturate(6268%) hue-rotate(285deg) brightness(139%) contrast(110%);
}

.contacts__tg {
    background-image: url(../graphics/telegram.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    left: 10px;
}

.contacts__tg:hover {
    filter: invert(3%) sepia(7%) saturate(1468%) hue-rotate(232deg) brightness(104%) contrast(86%);
}

.contacts__tg:focus {
    filter: invert(4%) sepia(24%) saturate(330%) hue-rotate(253deg) brightness(97%) contrast(91%);
}

.contacts__tg:active {
    filter: invert(81%) sepia(91%) saturate(6268%) hue-rotate(285deg) brightness(139%) contrast(110%);
}

.contacts__pint {
    background-image: url(../graphics/pinterest.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    left: 86px;
}

.contacts__pint:hover {
    filter: invert(3%) sepia(7%) saturate(1468%) hue-rotate(232deg) brightness(104%) contrast(86%);
}

.contacts__pint:focus {
    filter: invert(4%) sepia(24%) saturate(330%) hue-rotate(253deg) brightness(97%) contrast(91%);
}

.contacts__pint:active {
    filter: invert(81%) sepia(91%) saturate(6268%) hue-rotate(285deg) brightness(139%) contrast(110%);
}

.contacts__stu {
    background-image: url(../graphics/stumbleupon.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    left: 162px;
}

.contacts__stu:hover {
    filter: invert(3%) sepia(7%) saturate(1468%) hue-rotate(232deg) brightness(104%) contrast(86%);
}

.contacts__stu:focus {
    filter: invert(4%) sepia(24%) saturate(330%) hue-rotate(253deg) brightness(97%) contrast(91%);
}

.contacts__stu:active {
    filter: invert(81%) sepia(91%) saturate(6268%) hue-rotate(285deg) brightness(139%) contrast(110%);
}