.reservation__block {
    
}

.container_reservation {
    background: #440f51;
}
.reservation__block h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom:  60px;
    padding-top: 80px;
}

.button {
    background-color: #ffffff;
    color: black;
}

.reservation{}

.reservation__block{}

.reservation__block__header {}

.reservation__form {
    display: flex;
    flex-direction: column;
}

.reservation__halls{
    display: flex;
    justify-content: space-between;
    border: none;
    width: 1180px;
    height: 500px;
    align-items: flex-end;

}

.halls__header{
    text-align: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    text-align: center;
    color: #fff;
}

.halls__item{
    appearance: none;
    
}

.halls__item-label {
    border-radius: 8px;
    width: 250px;
    height: 55px;
    background: #fff;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 30px;
    line-height: 55px;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    cursor: pointer;
    
}

.reservation__entertainment{}

.reservation__entertainment__header{}

.reservation__play-station{}

.play-station__header {}

.play-station__item{}

.reservation__table-games{}

.table-games__header{}

.table-games__item{}

.reservation__additionally{}

.additionally__header{}

.additionally__item{}

.reservation__date-time{}

.date-time__header{}

.date-time__item{}

.date-time__item_date{}

.date-time__item_time{}

.date-time__item_count{}

.date-time__item_name{}

.date-time__item_soname{}

.date-time__item_phone{}

.date-time__item_emale{}

.reservation__button{}























