.reservation__block {
    
}

.container_reservation {
    background: #440f51;
}
.reservation__block h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom:  60px;
    padding-top: 80px;
}

.button {
    background-color: #ffffff;
    color: black;
}

.reservation{}

.reservation__block{}

.reservation__block__header {}

.reservation__form {
    display: flex;
    flex-direction: column;
}

.reservation__halls{
    width: 1180px;
    height: 123px;
    margin-bottom: 60px;
}

.halls__header{
    display: block;
    text-align: center;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}

.halls__item{
    position: fixed;
    opacity: 0;
    pointer-events: none;
    
}

.halls__select {
    display: flex;
    justify-content: space-between;
}

.halls__item-label {
    border-radius: 8px;
    width: 250px;
    height: 55px;
    background: #fff;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 30px;
    line-height: 55px;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    cursor: pointer;
    
}

.reservation__entertainment{
    display: flex;
    border: none;
    justify-content: space-around;
    margin-bottom: 40px;
}

.reservation__entertainment__header{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}

.reservation__play-station{
    border: none;
    width: 280px;
    
}

.play-station__header {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    color: #fff;
    margin-bottom: 20px;
}

.play-station__item{
    margin-bottom: 10px;
}


.play-station__label {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    color: #fff;
    
}

.reservation__table-games{
    border: none;
    width: 300px;
}

.table-games__header{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    color: #fff;
    margin-bottom: 20px;
}

.table-games__item{
    margin-bottom: 10px;
}

.table-games__label {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    color: #fff;
}
.reservation__additionally{
    border: none;
    width: 300px;
}

.additionally__header{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    color: #fff;
    margin-bottom: 20px;
}

.additionally__item{
    margin-bottom: 10px;
}

.additionally__label {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    color: #fff;
}
.reservation__date-time{
    border: none;
    display: flex;
    gap: 50px;
    justify-content: space-around;
}

.date-time__header{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 24px;
    line-height: 117%;
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}

.date-time__item{
    margin-bottom: 20px;
}

.date-time__first-block {
    border: none;
    width: 300px;
}

.date-time__second-block {
    border: none;
    width: 300px;
}

.date-time__third-block {
    border: none;
    width: 300px;
}

.date-time__item_date{
    width: 134px;
    height: 52px;
    margin-bottom: 20px;
    margin-right: 26px;
    margin-top: 18px;
}

.date-time__date-label{
}

.date-time__item_time{
    width: 134px;
    height: 52px;
    
}

.date-time__time-label{}

.date-time__item_count{
    width: 300px;
    height: 52px;
}

.date-time__item_name{
    width: 300px;
    height: 52px;
}

.date-time__item_soname{
    width: 300px;
    height: 52px;
}

.date-time__item_phone{
    width: 300px;
    height: 52px;
}

.date-time__item_emale{
    width: 300px;
    height: 52px;
}

.reservation__button{
    width: 300px;
    height: 60px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    text-transform: uppercase;
    color: #6c0287;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 80px;
    align-self: flex-end;
    margin-right: 38px;
}























