.topheader-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topheader__logo {
}

.topheader__menu {
    align-content: center;
}

.menu__list {
    display: flex;
    gap: 40px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 227%;
    text-transform: uppercase;
    color: var(--main-color);
}

.menu__list-item {

}

.topheader__call-button {
    width: 280px;
    height: 55px;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 22px;
    line-height: 136%;
    text-transform: uppercase;
    color: var(--main-color);
    border: 3px solid var(--accent-color);
    border-radius: 10px;
    background-color: #1b1a1b;
}

.topheader__call-button:hover {
    border: 3px solid var(--hover-color);
    border-radius: 10px;
    width: 280px;
    height: 55px;
    background: var(--hover-color);
}

.topheader__call-button:focus {
    border-radius: 10px;
    width: 280px;
    height: 55px;
    background: var(--focus-color);
}

.topheader__call-button:active {
    border: 1px solid #000;
    border-radius: 10px;
    width: 280px;
    height: 55px;
    background-color: var(--active-color); /* Важен порядок!!! link visited hover focus active */
}


